server:
  port: 9527
spring:
  application:
    name: daydayshoping-zuul-gateway
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka
  instance:
    instance-id: gateway-9527.com
    prefer-ip-address: true
zuul:
  #ignored-services: "*" #用*来通配符，忽略从9527端口通过服务名来调用
  routes:
    plat.serviceId: daydayshoping-plat #这是调用满足条件的服务名，注意要小写
    plat.path: /plat/** #这是所有路径前的通配
    product.serviceId: product-manager
    product.path: /product/** 
    common.serviceId: daydayshoping-common
    common.path: /common/** 
  prefix: "/services" #这是所有路径的前缀 
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000